body {
	background-color: #aaa;
}

.color {
	height: 100px;
	width: 75%;
	border: 1px solid #aaa;
	border-radius: 10px;
	margin: 10px;
	margin-left: 20px;
	cursor: pointer;
}

.red {
	background-color: #cc0000;
}

.yellow {
	background-color: #ffec00;
}

.blue {
	background-color: #0000cc;
}

.white {
	background-color: white;
}
.green {
	background-color: green;
}
.black {
	background-color: black;
}

.row_1 {
    height: 150px;
	width: 100%;
	margin: 10px;
	cursor: pointer;
	background-color: white;
	border: solid 1px grey;
	border-radius: 10px;
}






