<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&family=Ubuntu:wght@700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../public/styles/index.css">
    <link rel="stylesheet" href="../public/styles/home.css">
    <link rel="stylesheet" href="../public/styles/responsive.css">
    <title>mediaDonate</title>
</head>
<body>
    
    <div class="page-home">
        <div class="content">
            <header>
                <!--
                <img src="" alt="logotipo">
                -->
                <a href="index.html"><h2 class="logo">mediaDonate</h2></a>

            </header>
            
            <main>
                <h1>Marketplace para doação de mídias físicas e aparelhos</h1>
                <p>Cadastre ou encontre pontos de doação de Dvd's, vinis, jogos e aparelhos antigos.</p>
                

                <a href="create.html">
                    <strong>Crie um ponto de doação</strong>
                </a>
                <a href="search.html">
                    <strong>Pesquise locais de doação</strong> 
                </a>


            </main>
        </div>
    </div>

</body>
</html>