<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/styles/index.css">
    <link rel="stylesheet" href="../public/styles/search.css">
    <link rel="stylesheet" href="../public/styles/responsive.css">
    <title>mediaDonate</title>
</head>
<body>
    
    <div class="page-search">
        <div class="content">

            <header>
                <!--
                <img src="" alt="logotipo">
                -->
                <a href="index.html"><h2 class="logo">mediaDonate</h2></a>
            </header>

            <main>
                <h1>Pontos cadastrados</h1>

                <div class="points">

                </div>

            </main>
        </div>
    </div>

    <script src="../public/scripts/search.js"></script>
</body>
</html>